
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@800&display=swap');



body{
    background-color:#0E837A;
}
   
.container{
    display: flex;
    width: 1140px;
    height: 1140px;
      
}
.capa1{
    position: absolute;
    z-index: 1;
    
}

.capa2{
    position: absolute;
    z-index: 2;
    padding-left: 100px;
    top: 50px;
}

.capa3{
    position: absolute;
    z-index: 3;
    padding-left: 340px;
    height: 100px;   
}

.back{
    height: 592px;
}

.capa4{
    position: absolute;
    z-index: 4;
    padding-left: 400px;
    top:35px;
}
.capa6{
    font-family: 'Merriweather', serif;
    position: absolute;
    z-index: 6;
    top: 120px;
    padding-left: 400px;
    color:white;
}
.capa7{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    z-index: 7;
    top: 300px;
    padding-left: 270px;
    color:white;
    font-size:xx-large;
}

.capa5{
    position: absolute;
    padding-left: 870px;
    z-index: 5;
    top:450;
}
.imagen5{
    width: 350px;
    height: 442px;
    object-fit: cover;
}
.capa8{
    position:absolute;
    z-index: 8;
    top: 450px;
    padding-left: 619px;
}
.loading{
    width: 250px;
    height: 100px;
}
.prev{
    font-family: 'Merriweather', serif;
    position: absolute;
    z-index: 6;
    color:green
}
.capa9{
    font-family: 'Merriweather', serif;
    font-size:large;
    position:absolute;
    z-index: 9;
    top: 550px;
    padding-left: 670px;
    color:lightgray;
}



            
        
       

             
    


    
